* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header .header {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
}

.header .header__logo {
    width: 10%;
    height: 100%;
}

.header .header__search {
    width: 30%;
    height: 50%;
    align-items: center;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 8px;
}

.header .header__search input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    outline: none;
    border: 0;
    margin-top: 5px;
}

.header .header__search button {
    outline: none;
    border: 0;
    width: 35px;
    height: 40px;
    background-color: white;
    border-radius: 8px;
    font-size: 20px;
}

.header .header__menu {
    width: 60%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 5px;
}

.header__menu .menu__item {
    width: 120px;
    height: 30px;
    border: none;
    text-align: center;
    align-items: center;
}

.header__menu .cart {
    width: 120px;
    text-align: center;
    align-items: center;
}

.header__menu a {
    text-decoration: none;
    color: white;
    line-height: 30px;
}

.header__menu .cart {
    font-size: 30px;
}

.menu__item:hover,
.login:hover {
    background-color: #A8D38D;
    font-weight: bold;
}

.header__menu .postnews {
    width: 130px;
    height: 40px;
    background-color: #32CD32;
    border-radius: 5px;
    margin-left: 20px;
}

.header__menu .postnews a {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    gap: 10px;
    line-height: 40px;
}

.header__menu .login {
    width: 120px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
}

.header__menu .login a {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    gap: 10px;
}

/* MAIN */
main {
    width: 100%;
    margin-top: 90px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

main .main__slider {
    width: 90%;
    height: 200px;
}

.main__slider img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
main .main__category {
    width: 90%;
    background-color: #E7FFCE;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

.main__category .title {
    width: 100%;
    font-size: 18px;
}

.main__category .category {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 15px;
    display: flex;
    justify-content: center;
}

.category a {
    text-decoration: none;
    color: black;
}

.category .category__item {
    width: 115px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.category__item .category__photo {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__item .category__photo img {
    width: 68px;
    height: 68px;
    border-radius: 10px;
    object-fit: cover;
}

.category__item .category__title {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__item .category__title p {
    font-size: 15px;
}

/* SẢN PHẨM */
main .main__product {
    width: 90%;
    background-color: #E7FFCE;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

.main__product .title {
    width: 100%;
    font-size: 18px;
}

.main__product .product_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-top: 10px;    
}

.product_container .product {
    width: 18.5%;
    height: 300px;
    border-radius: 5px;
    background-color: #FAFAFA;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.product_container .product:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product_container .product a {
    text-decoration: none;
    color: black;
}

.product .product_photo {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product .product_photo img {
    width: 95%;
    height: 95%;
    border-radius: 5px;
    object-fit: cover;
}
.product .product_info .product_title {
    font-size: 15px;
}
.product .product_info {
    width: 100%;
    height: 50%;
    padding: 5px;
}

.product .product_info .product_price {
    font-size: 15px;
    color: red;
    margin-bottom: 10px;
    position: absolute;
    bottom: 15px;
}

.product_info .time_address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.time_address .timeupload {
    font-size: 10px;
    gap: 5px;
    color: #787878;
    bottom: 5px;
    left: 5px;
}

.time_address .timeupload i {
    margin-right: 5px;
}

.time_address .address i {
    margin-right: 5px;
}

.time_address .address {
    font-size: 10px;
    color: #787878;
    bottom: 5px;
    right: 5px;
}
.time_address .timeadd {
    position: absolute;
}

/* FOOTER */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(209, 208, 208);
    margin-top: 20px;
}

footer .footer_infomation {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer_infomation .info_company {
    width: 40%;
    height: 100%;
}
.info_company .image_logo {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    margin-top: -10px;
}
.info_company .info_detail {
    width: 100%;
    height: 70%;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}
.info_company img{
    width: 50%;
    height: 50px;
    object-fit: cover;
}

.info_detail .numberphone {
    font-size: 18px;
    color: #93DC5C;
    margin-top: 10px;
    font-weight: bold;
}
.info_company .info_detail h4 {
    margin-top: 10px;
}
.info_detail .address_company,
.info_detail .email {
    font-size: 15px;
}

.footer_infomation .help {
    width: 60%;
    height: 100%;
    padding-left: 100px;
}

.help .support {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 100px;
}

.help .link {
    width: 100%;
    height: 50%;
    margin-top: 20px;
    position: relative;
}

.support .aboutus .list,
.support .support_cusomer .list {
    margin-top: 10px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
}

.aboutus .list a,
.support_cusomer .list a {
    text-decoration: none;
    color: gray;
}

.link .icon_link {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
}
.link .icon_link i {
    font-size: 50px;
}

.link span {
    position: absolute;
    bottom: 0;
    color: gray;
    font-size: 15px;
}

/* MODAL THÔNG BÁO */
.menu__item {
    position: relative;
    display: inline-block;
  }
  
  .notification-modal {
    display: none; /* Ẩn modal mặc định */
    position: absolute;
    top: 100%; /* Hiển thị ngay dưới mục thông báo */
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 200px; /* Độ rộng của modal */
  }
  
  .notification-modal::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }
  
